html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Prompt', sans-serif;
  background-color: var(--three);
}

:root {
  --one: #d54a36;
  --two: #1b3649;
  --three: #ffde78;
  --four: #ffffff;
}

.header {
  font-size: 4rem;
  text-align: center;
  border-radius: 1rem;
  background-color: var(--two);
  color: azure;
  
}

#form {
  text-align: center;
  margin: 1.5rem;
  padding: 1rem;
  border: solid 0.2rem;
  border-radius: 1rem;
  color: azure;
  background-color: var(--one);
}

.label {
  font-size: 3rem;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  border-radius: 0.8rem;
  background-color: var(--one);
}

.name-input {
  font-size: 3rem;
  border-radius: 0.8rem;
  background-color: var(--three);
}

#submit {

  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color,border-color,color,box-shadow,filter;
  transition-duration: .3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 16px 14px 18px;
  color: rgb(0, 0, 0);
  background-color: var(--four);
  height: 48px;
  }


.name {
  font-size: 5rem;
  background-color: transparent ;
}

.image {
  height: 50%;
  width: 30%;
  background-color: transparent;
}

.list {
  font-size: 3rem;
  margin: 1rem;
  background-color: transparent;
}

.types {
  font-size: 3rem;
  background-color: transparent;
}

.list-item {
  background-color: transparent;
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem 4rem;
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2fb2821a-1406-4a1d-9b04-6668f278e944/d83m36e-3b58ca48-fe8a-456e-9ffc-a5a84eca6613.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzJmYjI4MjFhLTE0MDYtNGExZC05YjA0LTY2NjhmMjc4ZTk0NFwvZDgzbTM2ZS0zYjU4Y2E0OC1mZThhLTQ1NmUtOWZmYy1hNWE4NGVjYTY2MTMucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.jOpoPaOypPatcb4k7flznTP9YiwUEX2q2BKoeWUPU74);
  width: 50%;
  margin: auto;
  border-radius: 500rem;
  border: solid 1rem;
  color: azure;
}

.error {
  font-size: 5rem;
  text-align: center;
}